# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Streaming data
app/data/stream/

# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
/coverage/

# iOS CocoaPods
**/ios/Pods/
**/ios/.symlinks/
**/ios/Podfile.lock

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# Generated plugin registrants
**/ios/Runner/GeneratedPluginRegistrant.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Secrets & credentials
service-account.json
*.pem
*.key

CLAUDE.MD
